server:
  port: 8080

spring:
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  datasource:
    url: jdbc:postgresql://db:5432/incidents_db
    username: incidents_user
    password: incidents_pass
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  cache:
    type: caffeine
    cache-names: incidents, incidentById, stats, commentsByIncident
    caffeine:
      spec: maximumSize=10000,expireAfterWrite=60s

jwt:
  secret: "0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF"
  expiration-ms: 86400000
